.App {
  background-color:#D3D3D3;
  padding-top: 36px;
  text-align: center;
}

.SearchForm-wrapper {
  display:flex;
  justify-content: center; 
}

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
  width: 100% ;
}

.MoviesList-item {
  margin-bottom: 24px;
  width: 48%;
}

.par {
  padding:36px;
  font-family: arial;
  font-size: 30px;
}
.mov {
  font-family: Lucida;
  font-size: 20px;
}
.tit {
  font-family: bold;
  font-size: 25px;
  color: black; 
}
.img {
  border-radius: 15%;
  border: dashed grey;
}